@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1156 High St,<br />
    Santa Cruz, CA 95064<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:anourkha@ucsc.edu">anourkha@ucsc.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:vttu@ucsc.edu">vttu@ucsc.edu</a>
</address>