@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Land a Doo</h1>
    <p class="lead">Coming to a platform near you!</p>
    <p><a href="https://github.com/misohoney/LandADoo" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>First Column</h2>
        <p>
            We gonna have bunch of stuff here... couple of lines... couple of lines... couple of lines...
            couple of lines... couple of lines... couple of lines... couple of lines... couple of lines...
            couple of lines... couple of lines... couple of lines... 
        </p>
        <p><a class="btn btn-default" href="https://www.google.com/?gws_rd=ssl">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Second Column</h2>
        <p>Maybe some information about the premise of the game and some visual here</p>
        <p><a class="btn btn-default" href="https://www.google.com/?gws_rd=ssl">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Third Culumn</h2>
        <p>Another part where we explain something else about land a doo... </p>
        <p><a class="btn btn-default" href="https://www.google.com/?gws_rd=ssl">Learn more &raquo;</a></p>
    </div>
</div>